In [7]:
# single individual Assignment 
intvalue=20
strvalue="hello"
floatvalue=3.11
print(intvalue)
print(strvalue)
print(floatvalue)

20
hello
3.11

In [8]:
# multiple assignment 
intvalue, strvalue, floatvalue = 30, "Python", 2.34
print(intvalue)
print(strvalue)
print(floatvalue)

30
Python
2.34

In [9]:
# multiple vaiaable with single assignment 
intvalue = strvalue = floatvalue = 40
print(intvalue)
print(strvalue)
print(floatvalue)

40
40
40

In [11]:
#isinstance method: (It checks the given value belongs to that particular datatype or not)
var = 20
var2=23.6
print(isinstance(var,float))
print(isinstance(var,int))
print(isinstance(var2,float))
print(isinstance(var2,int))

False
True
True
False

# String:
# string is a collection of characters
# immutable data type- we can't change the data
# it is enclosed with either '' or ""

In [12]:
string_var = "hello everyone"
string_var

'hello everyone'

In [13]:
print(string_var[8])

e

In [19]:
print(string_var[13])
print(string_var[-1])

e
e

In [20]:
print(string_var[6:14])

everyone

In [23]:
print(string_var[-12:-3])

llo every

In [24]:
print(string_var[:])

hello everyone

In [26]:
# Step indexing

print(string_var[0: :2])

hloeeyn

In [27]:
val3="Data Science"

print(val3[1:8:2])

aaSi

### updating, deleting

In [29]:
var1="good morning"
var1[5:]="evening"
print(var1)

TypeError: 'str' object does not support item assignment

### count

In [30]:
var="Data Science"
print(var.count('a'))
print(var.count('e'))

2
2

In [32]:
# index method:
var.index('a')

1

In [36]:
# membership in strings
ab= "hello everyone"
print("hello" in ab)
print("Hello" in ab)

True
False

In [37]:
# len (Length of the String)
print(len(ab))

14

In [46]:
#lower:

var="Python class"
print(var.lower())
print(var.upper())

python class
PYTHON CLASS

In [47]:
print(var.swapcase())

pYTHON CLASS

In [48]:
print(var.islower())
print(var.isupper())

False
False

### replace method:

In [53]:
var1="Data Science"
print(var1.replace('data','life'))
print(var1.replace('Data','life'))

Data Science
life Science

### Partition

In [57]:
var="hello everyone this is python class"
print(var.partition('this'))
print(var.partition('hello'))

# the partition is stored the data in tuple

('hello everyone ', 'this', ' is python class')
('', 'hello', ' everyone this is python class')

### Strip method

In [61]:
var="     hello everyone this is python class"
print(var.strip())

# It will remove the blank space at the initial point

hello everyone this is python class

In [64]:
var="   ##### $$$$$  hello everyone this is python class %%%%% ##### "
print(var.strip('# $ %'))

hello everyone this is python class